body, h2, .main-header .logo {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.skin-black .main-sidebar {
  background-color: #FFFFFF; /* clean white */
  border-right: 1px solid #E0E0E0; /* subtle border */
}

.skin-black .main-sidebar .sidebar .sidebar-menu .active a {
  color: #1A1A1A; /* 10% black */
  background: #F1F5FA; /* light blue */
  font-weight: bold;
}

.skin-black .main-sidebar .sidebar .sidebar-menu .active a:hover {
  background: #F1F5FA; /* lighter blue */
  color: #1A1A1A; /* 10% black */
}

.skin-black .main-sidebar .sidebar .sidebar-menu a {
  background-color: #FFFFFF; /* white */
  color: #333333; /* dark text */
}

.skin-black .main-sidebar .sidebar .sidebar-menu a:hover {
  background-color: #F2F2F2; /* light gray */
  color: #1A1A1A; /* 10% black */
}

.skin-black .main-header .navbar {
  background-color: #FFFFFF;
  border-bottom: 1px solid #E0E0E0;
}

.skin-black .main-header .logo {
  background-color: #FFFFFF;
  color: #1A1A1A; /* 10% black */
  font-weight: bold;
}

.skin-black .main-header .logo:hover {
  background-color: #FFFFFF;
  color: #1A1A1A; /* 10% black */
}
